* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 80%;
}
.page {
  display: flex;
}

/* sidebar */
.sidebar {
  height: 935px;
  width: 150px;
  left: 0px;
  top: 938px;
  background: #191718;
}
.menu {
  display: flex;
  flex-direction: column;
}
.menu a{
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
}
/* page content */
.page__content {
  height: 935px;
  width: 1768px;
  left: 150px;
  top: 938px;
}
.logo {
  text-align: center;
  padding: 20px 0px;
}
.content {
  text-align: center;
  background: #efefef;
  padding: 30px 10px;
}
.content p {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.content span {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  padding: 20px 100px;
}
.list__item {
    padding: 20px;
}
.item__grid {
  display: grid;
  gap: 20px;
  grid-template-columns: auto auto auto;
  width: 100%;
}
.item p{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}
hr {
  margin-top: 100px;
}
.copyright p{
    margin-bottom: 30px;
}


/* responsive */
@media screen and (max-width: 768px){
    .sidebar{
        width: 100%;
        height: 50px;
        position: absolute;
        top: 0;
        margin-bottom: 30px;
    }
    .menu{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .logo img{
        width: 100px;
        height: 100px;
        object-fit: contain;
    }
    .page{
        position: relative;
        padding-top: 30px;
    }
    .content span{
        padding: 0;
    }
    .item__grid{
        display: block;
    }
    .item{
        margin: 20px 0px;
    }
    .copyright {
        margin-bottom: 30px;
    }
}